.row.topbar
  .col-sm-3.header(ng-switch='isUserLoggedIn')
    div(ng-switch-when='true')
      .username.current-user {{ currentUser.username }}
    div(ng-switch-default)
      | Start by relaying posts you like
  .col-sm-9.col-sm-offset-3
    form.form-inline(role='form' ng-if='isUserLoggedIn' new-post-form)
      .form-group
        label.sr-only(for='newPost') New Post
        input.form-control.entry(type='text' ng-model="newPostEntry" placeholder="Post something awesome")
      button.btn.btn-default(ng-click='submitNewPost()') Do it
