// First 'post' is always the user's avatar
.feed
  .post(ng-repeat='post in posts' ng-class="{'media-post': post.is_media}")
    .post-body
      p.created
        | Created {{ post.relay_count }} users away
      .headline
        | {{ post.headline }}
        | ({{ post.is_media ? "MEDIA" : "PLAIN" }})

    // .post-controls
    //   button.btn.btn-primary(type="button" ng-model="post.relayed" ng-click="toggleRelayPost(post)" btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false")
    //     | {{ post.relayed ? "Un-relay" : "Relay" }}

