.post-info
  span.username
    | {{ post._last_relayed_by.username }}
  |  relayed a post
  p.created
    | Created {{ post.relay_count }} users away

.post-body(ng-include="'partials/'+ post._type")
