doctype html
html(ng-app="relay")
  head
    title= title
    meta(content='width=device-width, initial-scale=1.0' name='viewport')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css', rel='stylesheet')
  body(ng-controller="AppController")
    #logout(ng-if='isUserLoggedIn')
      a(ng-href='/logout') Logout
    .container-fluid(ng-controller="HomeFeedController")
      include includes/topbar
      .row
        .col-sm-4.sidebar
          include includes/sidebar
        .content-container.col-sm-8.col-sm-offset-4
          include includes/flash_messages
          block content

  script(src='/lib/angular/angular.js')
  script(src='/lib/angular-animate/angular-animate.js')
  script(src='/lib/bootstrap-sass-official/vendor/assets/javascripts/bootstrap.js')
  script(src='/lib/angular-bootstrap/ui-bootstrap.js')
  script(src='/lib/gsap/src/uncompressed/TweenMax.js')
  script(src='/lib/ng-Fx/dist/ng-Fx.js')
  script(src='/lib/lodash/dist/lodash.js')
  script(src='/lib/angular-scroll/angular-scroll.js')
  script(src='/lib/restangular/dist/restangular.js')
  script(src='/scripts/controllers.js')
  script(src='/scripts/services.js')
  script(src='/scripts/factories.js')
  script(src='/scripts/directives.js')
  script(src='/scripts/app.js')
