$feed-indent: 20px;

.post {
  height: 100px;
  margin: 10px;
  background-color: darkgray;
  box-shadow: 0px 3px 5px rgba(0,0,0,0.5);

  .username {
    text-transform: uppercase;
  }
}

.post-info {
  margin-left: $feed-indent;
  margin-bottom: 15px;
  font-size: 1.2em;

  .created {
    font-size: 0.8em;
  }
}

.post-body {
  position: relative;
  height: 100%;
  padding: 20px;
  font-size: 2em;

  .content {
    position: absolute;
    bottom: 0px;
    color: white;
    text-transform: uppercase;
    font-family: "Avenir Next", sans-serif;
    font-weight: 200;
  }
}
