@import "./vars";

.feed {
  position: relative;
  margin-top: 20px;
  left: -14px; // counter default padding
  @media (max-width: 768px) {
    width: 100%;
  }
}

.post {
  position: relative;
  box-shadow: 0px 3px 5px rgba(0,0,0,0.5);
  margin-bottom: 20%;
  transition: opacity 0.2s 0.0s ease-out;
  -webkit-transition: opacity 0.2s 0.0s ease-out;
  -moz-transition: opacity 0.2s 0.0s ease-out;
  -o-transition: opacity 0.2s 0.0s ease-out;
  width: 70%;

  // initially hidden
  opacity: 0;
  @media (max-width: 768px) {
    width: 100%;
  }
}

.show-post {
  opacity: 1;
}

.post-photo-preview {
  margin-bottom: 1px;

  img {
    width: 100%;
    height: auto;
  }
}

$post-body-bg: #ECF0F1;
.post-body {
  position: relative;
  height: 100%;
  padding: 20px;
  background: $post-body-bg;

  .post-body-content {
    word-wrap: break-word;
  }

  .created {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 200;
    font-size: 0.8em;
  }

  .headline {
    color: black;
    font-family: "Museo Sans", sans-serif;
    font-weight: 500;

    a {
      color: black;
    }
  }
}

.react-prompt{
  display: inline-block;
  vertical-align: middle;
  color: white;
  font-size: 0.7em;
}


.relayer {
  top: -5px;
  left: -40px;
  z-index: 10;


  .avatar {
    display: inline-block;
    vertical-align: middle;
    width: 42px;
    height: 42px;
    background: black; // inner border color
    padding: 0px;     // inner border width
    border: 4px solid $main-bg;
  }
}

.info {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  text-align: left;

  .username {
    color: black;
  }

  .action {
    color: darkgray;
  }

  .action.active-action {
    color: black;
  }
}


.post-info-bar {
  margin: 0 auto;
  height: 30px;
  background: black;
}

.relayed {
  background: #50E3C2;
}

.post-reaction {
  height: 100%;
  color: black;
  padding: 5px;
  text-align: center;
}

.less-btn {
  background: #7F8C8D;
}

.more-btn{
  background: #16A085;
}

.post-feed-status {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  padding: 5px;
}

