.feed {
  position: relative;
  margin-top: 20px;
  left: -20px; // counter default padding
  @media (max-width: 768px) {
    width: 100%;
  }
}

.post {
  position: relative;
  box-shadow: 0px 3px 5px rgba(0,0,0,0.5);
  margin-bottom: 20%;
  transition: all 0.2s 0.0s ease-out;
  -webkit-transition: all 0.2s 0.0s ease-out;
  -moz-transition: all 0.2s 0.0s ease-out;
  -o-transition: all 0.2s 0.0s ease-out;
  width: 70%;

  // initially hidden
  opacity: 0;
  @media (max-width: 768px) {
    width: 100%;
  }
}

.show-post {
  opacity: 1;
}

.post-photo-preview {
  margin-bottom: 1px;

  img {
    width: 100%;
    height: auto;
  }
}

.post-body {
  height: 100%;
  padding: 20px;
  background: #ECF0F1;

  .created {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 200;
    font-size: 0.8em;
  }

  .headline {
    color: black;
    font-family: "Museo Sans", sans-serif;
    font-weight: 500;
  }
}
