@import './vars';

// Hide for mobile
.sidebar {
  display: none;
}

@media (min-width: 768px) {
  .sidebar {
    display: block;
    position: fixed;
    top: $topbar-bottom;
    bottom: 0;
    left: 0;
    border-right: 5px solid black;
    border-right: 5px solid rgba(0,0,0,0.8);
  }
}
