@import './vars';

.topbar {
  position: fixed;
  height: $topbar-height;
  top: $top-padding;
  width: 100%;
  z-index: 1000;
  color: white;

  #brand {
    position: relative;
    left: 40px;
    font-family: "Proxima Nova", "Helvetica", sans-serif;
    font-weight: 700;
    font-size: 4em;
    color: black;
    color: rgba(0,0,0,0.5);
    position: relative;
  }

  .inner-topbar-wrapper {
    width: 100%;
    display: table;
  }

  .inner-topbar {
    background-color: black;
    background-color: rgba(0,0,0,0.8);
    display: table-cell;
    vertical-align: middle;
    padding-top: $topbar-inner-padding/2;
    padding-bottom: $topbar-inner-padding/2;
  }

  .header {
    font-size: 1.2em;
  }

  .small {
    color: gray;
  }

  .info {
    display: inline-block;
    vertical-align: middle;
    margin-left: 8px;
  }

  .avatar {
    display: inline-block;
    vertical-align: middle;
    width: 42px;
    height: 42px;
    background: black; // inner border color
    padding: 0px;     // inner border width
    border: 4px solid $main-bg;
  }
}

