@import './vars';

.topbar {
  position: fixed;
  top: $top-padding;
  height: $topbar-height;
  width: 100%;
  z-index: 1000;
  background-color: black;
  background-color: rgba(0,0,0,0.8);
  color: white;
  display: table;

  .inner-topbar {
    display: table-cell;
    vertical-align: middle;
  }

  .header {
    font-size: 1.2em;
  }

  .username {
    font-size: 1.3em;
  }

  .small {
    color: gray;
  }
}

